

/*验证码div*/
.codeDiv{
    position: relative;
}
.codeDiv .code{
    position: absolute;
    right: 0;
    top: 0;
    font-family:Arial;
    font-style:italic;
    color:blue;
    font-size:20px;
    border:0;
    letter-spacing:3px;
    font-weight:bolder;            
    float:left;           
    cursor:pointer;
    width:100px;
    height:100%;
    line-height:50px;
    text-align:center;
    vertical-align:middle;
    background-color:#D8B7E3;
}